<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testngstudy" preserve-order="true"  parallel="classes" thread-count="1">
    <parameter name="variable" value="hellotestng" />
    <test name="test1111">
        <classes>
            <class name="TestngDemo.TestngGroupdemo01"/>
            <class name="TestngDemo.TestngGroupdemo03"/>
            <class name="TestngDemo.TestngGroupdemo02"/>
        </classes>
    </test>
    <test name="test2222">
        <classes>
            <class name="TestngDemo.TestngGroupdemo02"/>
        </classes>
    </test>
</suite>
